opencv-contrib-python @ file:///home/pi/Projects/factory-pi/whls/opencv_contrib_python-4.5.2.52-cp37-cp37m-linux_armv7l.whl
tensorflow @ file:///home/pi/Projects/factory-pi/whls/tensorflow-2.5.0-cp37-none-linux_armv7l.whl
python-vlc
picamera