[Desktop Entry]
Name=Bakjes Monitor
Comment=My application which does this
Icon=/usr/share/pixmaps/openbox.xpm
Exec=/home/pi/Projects/factory-pi/execute/bakjes_monitor.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;